python-telegram-bot
instaloader
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
git+https://github.com/Joelkb/cinemagoer
requests
tgcrypto
python-dotenv
redis
psycopg2-binary
feedparser
filesplit
git+https://github.com/XMYSTERlOUSX/mega.py
